
body{
    background: rgb(255, 255, 255);
}
.icon{
    height: 25px;
    width: 25px;
}
#p-droite,#p-gauche,#p-milieu{
    display: inline-block;
    vertical-align: top;
    margin: 0px;
    height: 100vh;
    overflow: auto;
    margin: 0px;
}
#p-gauche{
    width: 330px;
    box-shadow: 0px 1px 1px black;
    #pg-header{
        text-align: center;
        height: 40px;
        p{
            display: inline-block;
            vertical-align: middle;
            font-size: large;
            width: 30%;
        }
        .s-msg{
            text-align: left;
        }
        .t-msg{
            text-align: center;
            color: #2180f3;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        .icon-parametre{
            text-align: right;
        }
    }
    #search{
        text-align: center;
        margin-top: 0px;
        p input{
            margin-top: -7px;
            width: 95%;
            height: 35px;
            border-radius: 5px;
            background-color: #f7f7f7;
            padding-left: 10px;
            border: 1px solid #f7f7f7;
        }
    }
    #onglet{
        margin-top: 5px;
        div{
            margin-top: 0px;
            display: inline-block;
            width: 49%;
            text-align: center;
            height: 30px;
            &.person{
                &:hover,&:active{
                    border-bottom: 3px solid #2180f3;
                    background-color: rgb(248, 248, 248);
                    border-radius: 5px;
                }
            }
            &.group{
                &:hover{
                    border-bottom: 3px solid #779ece;
                    background-color: rgb(248, 248, 248);
                    border-radius: 5px;
                }
            }
            p{
                margin-top: 0px;
                display: inline-block;
                vertical-align: middle;
                font-size: large;
                font-weight: bold;
            }
            .o-title{
                color: #2180f3;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            }
        }
    }
    #box-g{
        box-shadow: 0px 4px 4Px rgb(237, 241, 243);
    }
    #content-users{
        height: 500px;
        overflow: auto;
        scrollbar-width: 20px;
        text-align: left;
        #one-content{
            border: 1px solid red;
            margin-top: 5px;
            height: 50px;
            padding: 5px;
            .img{
                float: left;
                clear: both;
                margin-right: 10px;
                img{
                    height: 50px;
                    width: 50px;
                    border-radius: 50px;
                }
            }
            .msg-name{
                font-size: 18px;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            }
            .msg-content{
                font-family: Arial, Helvetica, sans-serif;
                border: 1px solid red;
                width: 50px;
            }
        }
        
    }
}

#p-milieu{
    width: 738px;
    header{
        width: 738;
        box-shadow: 1px 0px 4px black;
        text-align: center;
        #h-gauche,#h-droite{
            display: inline-block;
            width: 49%;
        }
        div{
            p{
                display: inline-block;
                vertical-align: top;
                .img-h{
                    margin-left: 5px;
                    width: 30px;
                    height: 30px;
                    border-radius: 30px;
                }
                &.h-title{
                    font-size: 20px;
                    margin-left: 10px;
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                }
            }
        }
    }
    #messages{
        height: 82%;
        overflow: auto;
        background-color: #ffffff55;
        #envoyer-a{
            background-color: #391DF1;
            color: white;
            max-width: 300px;
            padding: 0px;
            float: right;
            clear: both;
            height: fit-content;
            width: fit-content;
            border-radius: 12px;
            word-wrap: break-word;
            // box-shadow: 0px 2px 2px #000000;
            padding: 0px;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-right: 5px;
            p{
                margin: 10px;
            }
        }
        #envoyer-par{
            clear: both;
            background-color: hsl(0, 0%, 93%);
            color: black;
            border-radius: 12px;
            margin-left: 5px;
            margin-top: 5px;
            margin-bottom: 5px;
            word-wrap: break-word;
            width: fit-content;
            max-width: 300px;
            font-size: 17px;
            font-family: Georgia, Verdana, Geneva, Tahoma, sans-serif;
            // box-shadow: 0px 2px 2px #000000;
            p{
                padding: 10px;
            }
        }
    }
    #e-saisie{
        position: relative;
        bottom: 0px;
        height: 50px;
        div{ 
            .add img,.like img,.sticker img,.add-img img,.mic img{
                margin-top: 10px;
            }
            .input{
                height: 20px;
                width: 50%;
                margin: 0px;
                font-size: 16px;
                font-family: Arial, Helvetica, sans-serif;
                padding: 7px;
                padding-left: 10px;
                padding-top: 7px;
                border-radius: 10px;
            }
            
        }
    }
}
#p-droite{
    width: 250px;
    box-shadow: 0px 1px 1px black;
    text-align: center;
    p{
        img{
            height: 100px;
            width: 100px;
            border-radius: 100px;
            margin-top: 50px;
        }
        &.title{
            font-size: 20px;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
        }
        &.promotion{
            font-size: 20px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
    }
    div#chat_{
        height: 50px;
        border: 1px solid rgb(255, 255, 255);
        margin-right: 30px;
        margin-left: 30px;
        border-radius: 10px;
        box-shadow: 0px 0px 5px rgb(143, 142, 142);
        span{
            margin: 5px;
            .chat{
                margin-top: 10px;
                
            }
        }
        
    }
}
@import './lib/responsive.scss';
